@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "error.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

a.ico-menu {
  height: 24px;
  width: 24px;
}

a.ico-cart {
  background: url("/img/images/cart.svg") no-repeat;
  background-size: contain;
}

a.ico-profile {
  background: url("/img/images/profile.svg") no-repeat;
  background-size: contain;
}

.dark a.ico-cart {
  background: url("/img/images/cart-white.svg") no-repeat;
  background-size: contain;
}

.dark a.ico-profile {
  background: url("/img/images/profile-white.svg") no-repeat;
  background-size: contain;
}

table td, table th {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
}

/* Custom */
.divider-shop {
  @apply border-b border-primary opacity-20;
}

.divider-ecommerce {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.dark .divider-ecommerce {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.modal {
  --tw-bg-opacity: 0.7 !important;
  margin: 0 !important;
}

.modal-box {
  border-radius: initial !important;
  min-height: 300px;
}

.input, input, select, textarea {
  @apply outline-none dark:text-black border border-opacity-50 border-secondary-light;
}

input:focus, input:active, select:focus, select:active {
  @apply border-primary;
}

.dark input, .dark select, .dark textarea {
  @apply bg-gray-800;
  color: white !important;
}

.h-screen-ecommerce {
  height: calc(100vh - 116px);
}

.btn-custom {
  @apply py-1 px-2 rounded text-white transition bg-primary hover:bg-primary-light cursor-pointer;
}

.btn-custom-danger {
  @apply py-1 px-2 rounded text-white transition bg-red-700 hover:bg-red-600 cursor-pointer;
}

.btn-custom-info {
  @apply py-1 px-2 rounded text-white transition bg-blue-700 hover:bg-blue-900 cursor-pointer;
}

#navigation {
  @apply mt-8 px-4 py-4 flex items-center justify-between border-t border-gray-200 sm:px-6;
}

#navigation .navigation-item {
  @apply relative inline-flex items-center px-4 py-2 border text-sm font-medium;
}

#navigation .navigation-arrow {
  @apply relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50;
}
