@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.ico-menu {
  height: 24px;
  width: 24px;
}

a.ico-cart {
  background: url("/img/images/cart.svg") no-repeat;
  background-size: contain;
}

a.ico-profile {
  background: url("/img/images/profile.svg") no-repeat;
  background-size: contain;
}

.dark a.ico-cart {
  background: url("/img/images/cart-white.svg") no-repeat;
  background-size: contain;
}

.dark a.ico-profile {
  background: url("/img/images/profile-white.svg") no-repeat;
  background-size: contain;
}

/* Custom */
.divider-ecommerce {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.dark .divider-ecommerce {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dark .form-input {
  color: black;
}

.input {
  @apply dark:text-black
}

.h-screen-ecommerce {
  height: calc(100vh - 116px);
}

.btn-custom {
  @apply py-1 px-2 rounded text-white transition bg-primary hover:bg-primary-light cursor-pointer;
}

#navigation {
  @apply mt-8 bg-white dark:bg-gray-900 px-4 py-4 flex items-center justify-between border-t border-gray-200 sm:px-6;
}

#navigation .navigation-item {
  @apply relative inline-flex items-center px-4 py-2 border text-sm font-medium;
}

#navigation .navigation-arrow {
  @apply relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50;
}
